$golden-brown: #917330;
$black-color: #000000;
$white-color: #ffffff;

$forest-green: rgb(31, 62, 39);
$sky-gray-blue: #829ba3;
$sand-beige: #e2c98a;
$charcoal: rgb(33, 27, 33);

$light-color: #f9f6ee;

$transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);

.car-list-page {
  width: 100%;
  position: relative;

  .hero {
    width: 100%;
    height: 45vh;
    position: relative;
    min-height: 21rem;
    overflow: hidden;

    .bg {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.96;
        background: linear-gradient(
          290deg,
          $sky-gray-blue 0%,
          $golden-brown 50%,
          $sky-gray-blue 100%
        );
      }
    }

    display: flex;
    padding-left: 10%;
    align-items: center;

    .content {
      width: 100%;
      padding-top: 3rem;
      position: relative;

      gap: 0.6rem;
      display: flex;
      flex-direction: column;

      li {
        gap: 0.6rem;
        display: flex;
        align-items: flex-end;

        .line {
          width: 3rem;
          height: 0.1rem;
          position: relative;
          background: $white-color;
        }

        span {
          line-height: 1;
          font-size: 1rem;
          font-weight: 300;
          color: $white-color;
          text-transform: uppercase;
        }
      }

      h2 {
        font-size: 2rem;
        color: $white-color;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      p {
        color: $white-color;
        font-size: 1rem;
      }
    }
  }

  .car-list-sec {
    width: 100%;
    padding: 6rem 0;
    position: relative;
    background: $light-color;

    .content {
      width: 100%;
      position: relative;

      gap: 2rem;
      display: flex;
      align-items: start;

      .filter-bar {
        flex: 0.3;
        top: 8rem;
        padding: 2rem;
        position: sticky;
        border-radius: 1rem;
        background: $white-color;
        box-shadow: 0 0 0 1px rgba($sky-gray-blue, 0.1);

        gap: 2rem;
        display: flex;
        flex-direction: column;

        .search {
          width: 100%;
          height: 3rem;
          position: relative;

          input {
            width: 100%;
            height: 100%;
            padding: 1rem;
            font-size: 1rem;
            color: $charcoal;
            font-weight: 400;
            padding-left: 2.6rem;
            border-radius: 0.6rem;
            font-family: "DM Sans", sans-serif;
            background: $light-color;
            transition: $transition;

            &:hover,
            &:focus {
              color: $golden-brown;
              background: $white-color;
              box-shadow: 0 0 0 1px rgba($sky-gray-blue, 0.3);
            }

            &:focus {
              padding: 1rem;
            }
          }

          button {
            position: absolute;
            top: 50%;
            left: 1rem;
            display: flex;
            font-size: 1.2rem;
            color: $sky-gray-blue;
            transition: $transition;
            transform: translateY(-50%);
          }

          input:focus ~ button {
            display: none;
          }
        }

        ul {
          gap: 1rem;
          display: flex;
          flex-direction: column;
          padding-left: 1rem;

          h3 {
            font-size: 1.5rem;
            font-weight: 600;
            color: $black-color;
          }

          li {
            gap: 0.6rem;
            display: flex;
            cursor: pointer;
            align-items: center;

            input[type="checkbox"] {
              display: none;
            }

            .custom-box {
              width: 1rem;
              height: 1rem;
              border-radius: 0.4rem;
              position: relative;
              box-shadow: 0 0 0 1px rgba($sky-gray-blue, 0.3);
            }

            label {
              font-family: "DM Sans", sans-serif;
              color: $sky-gray-blue;
              font-weight: 500;
              font-size: 1rem;
              gap: 0.3rem;
              display: flex;
              cursor: pointer;
              align-items: center;
              transition: $transition;

              &:hover {
                color: $sand-beige;
              }
            }

            input:checked ~ .custom-box {
              background: $sand-beige;
              position: relative;
              box-shadow: none;

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 0.2rem;
                background: $golden-brown;
                transform: translate(-50%, -50%) rotate(45deg);
              }
            }
            input:checked ~ label {
              color: $golden-brown;
            }
          }
        }
      }

      .main-conts {
        flex: 0.7;
        position: relative;

        gap: 2rem;
        display: flex;
        flex-direction: column;

        .applied-filters {
          position: relative;
          padding: 1rem;
          width: 100%;
          background: $white-color;
        }

        .cars-list {
          width: 100%;
          position: relative;

          gap: 2rem;
          display: flex;
          flex-wrap: wrap;
          align-items: stretch;
        }

        .no-car-found {
          width: 100%;
          height: 100%;
          min-height: 66vh;
          position: relative;
          background: $white-color;

          display: flex;
          border-radius: 1rem;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0 0 1px rgba($sky-gray-blue, 0.1);

          .div {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;

            img {
              //   opacity: 0.6;
              width: 100%;
              height: auto;
              max-width: 12rem;
              pointer-events: none;
              filter: grayscale(0.6);
            }

            h3 {
              margin-top: rem;
              font-size: 1.2rem;
              font-weight: 700;
              margin-bottom: 0.6rem;
              color: $golden-brown;
            }

            p {
              color: $charcoal;
              font-size: 0.8rem;
              opacity: 0.8;
            }
          }
        }

        .load-more {
          position: relative;

          button {
            color: $forest-green;
            padding: 1rem;
            font-weight: 500;
          }

          .not-loading {
            color: $white-color;
            background: $golden-brown;
            transition: $transition;

            &:hover {
              background: $forest-green;
              box-shadow: 0 0 0 .2rem rgba($sky-gray-blue, 0.3);
            }
          }
        }
      }

      @media (max-width: 900px) {
        flex-direction: column;

        .filter-bar {
          flex: 1;
          width: 100%;

          ul {
            display: none;
          }
        }

        .main-conts {
          background: $light-color;
          padding: 1rem 0;

          .carcard {
            h3 {
              font-size: 1rem;
            }

            .img {
              display: none;
            }

            .div {
              flex-direction: column;
              align-items: start;
              gap: 1rem;

              .seats {
                font-size: 0.7rem;
                color: $charcoal;
              }
            }
          }
        }
      }
    }
  }
}

.car-details-page {
  width: 100%;
  position: relative;
  background: $white-color;

  .hero {
    width: 100%;
    height: 60vh;
    position: relative;
    min-height: 13rem;
    overflow: hidden;

    .bg {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;

      img {
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-attachment: fixed !important;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        background: linear-gradient(
          290deg,
          $sky-gray-blue 0%,
          $golden-brown 50%,
          $sky-gray-blue 100%
        );
      }
    }
  }

  .car-logo {
    position: absolute;
    left: 50%;
    width: 6rem;
    top: -2.4rem;
    // height: 6rem;
    padding: 0.6rem;
    border-radius: 3rem;
    background: $white-color;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      pointer-events: none;
    }
  }

  .car-details {
    width: 100%;
    padding: 6rem 0;
    position: relative;

    .content {
      width: 100%;
      position: relative;

      gap: 2rem;
      display: flex;
      flex-direction: column;

      .quick {
        width: 100%;
        position: relative;
        gap: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;

        h2 {
          font-size: 2rem;
          font-weight: bold;
          font-family: "Inter", sans-serif !important;

          gap: 0.6rem;
          display: flex;
          align-items: center;
          color: $forest-green;

          .model {
            color: $golden-brown;
          }
        }

        p {
          display: flex;
          font-size: 1rem;
          font-weight: 500;
          color: $golden-brown;
          font-family: "DM Sans";
        }

        .q-right {
          gap: 1rem;
          display: flex;
          flex-direction: column;

          .charge {
            gap: 0.2rem;
            display: flex;
            align-items: flex-end;
            color: $golden-brown;

            .amt {
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1;
              color: $forest-green;
            }
          }

          button {
            width: fit-content;
            padding: 1rem;
            display: flex;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 1rem;
            align-items: center;
            color: $white-color;
            transition: $transition;
            background: $golden-brown;
            justify-content: center;

            &:hover {
              cursor: pointer;
              background: $forest-green;
              box-shadow: 0 0 0 0.2rem rgba($sky-gray-blue, 0.3);
            }
          }
        }

        @media (min-width: 1100px) {
          .q-right {
            display: none;
          }
        }
      }

      .images {
        width: 100%;
        position: relative;
        gap: 2rem;
        display: flex;
        align-items: stretch;

        .img {
          flex: 1;
          height: 21rem;
          overflow: hidden;
          position: relative;
          border-radius: 1rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          button {
            position: absolute;
            left: 2rem;
            bottom: 2rem;
            padding: 0.8rem;
            cursor: pointer;
            border-radius: 1.5rem;
            background: $golden-brown;
            transition: $transition;

            span {
              position: absolute;
              top: 1rem;
              right: 1rem;
              width: 1.3rem;
              height: 1.3rem;
              display: flex;
              opacity: 0;
              z-index: 0;
              font-weight: 500;
              color: $white-color;
              align-items: center;
              justify-content: center;
              border-radius: 1rem;
              background: $forest-green;
              transition: $transition;
            }

            &:hover {
              background: $forest-green;

              span {
                opacity: 1;
                top: -0.5rem;
                right: -0.5rem;
              }

              img {
                filter: brightness(1) grayscale(1);
              }
            }

            img {
              width: 100%;
              height: auto;
              max-width: 2.4rem;
            }
          }

          @media (max-width: 760px) {
            &:last-child {
              display: none;
            }
          }
        }
      }

      .main-car-contents {
        width: 100%;
        position: relative;
        margin-top: 2rem;

        gap: 3rem;
        display: flex;
        align-items: start;

        .main-contents {
          flex: 0.6;
          position: relative;

          gap: 2rem;
          display: flex;
          flex-direction: column;

          .overview {
            width: 100%;
            position: relative;

            h2 {
              font-size: 1.5rem;
              color: $forest-green;
              margin-bottom: 1rem;
            }

            .rich-text {
              position: relative;
              opacity: 0.7;

              p {
                margin-bottom: 1rem;
                font-size: 1rem;
                color: $charcoal;
                gap: 0.3rem;
              }

              h1,
              h2,
              h3,
              h4 {
                font-weight: 600;
                color: $black-color;
                margin-bottom: 1.5rem;
              }

              i {
                font-weight: 500;
                color: $golden-brown;
              }
            }
          }

          .features {
            gap: 2rem;
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            flex-direction: column;

            .list {
              h3 {
                font-size: 1.3rem;
                margin-bottom: 0.6rem;
                color: $forest-green;
              }

              ul {
                gap: 0.6rem;
                display: flex;
                flex-direction: column;

                li {
                  gap: 0.3rem;
                  display: flex;
                  align-items: center;
                  font-size: 0.9rem;
                  padding-left: 0.3rem;
                  color: $forest-green;

                  .point {
                    width: 0;
                    height: 0;
                    border-radius: 0.3rem;
                    border-left: 0.6rem solid transparent;
                    border-right: 0.2rem solid transparent;
                    border-bottom: 0.6rem solid $forest-green;
                    transform: rotate(90deg);
                  }
                }
              }
            }

            .info-list {
              width: 100%;
              display: flex;
              flex-direction: column;

              li {
                gap: 1rem;
                display: flex;
                width: 100%;
                padding: 1rem;
                border-left: 1px solid $sky-gray-blue;
                border-right: 1px solid $sky-gray-blue;
                border-top: 1px solid $sky-gray-blue;

                &:last-child {
                  border-bottom: 1px solid $sky-gray-blue;
                }

                .name {
                  flex: 0.4;
                  opacity: 0.4;
                  font-size: 1.1rem;

                  font-family: "DM Sans", sans-serif !important;
                }
                .val {
                  flex: 0.6;
                  font-weight: 600;
                  font-size: 1.1rem;
                  color: $forest-green;
                  font-family: "DM Sans", sans-serif !important;
                }
              }
            }
          }
        }

        .book-form {
          flex: 0.4;
          position: sticky;
          top: 8rem;
          padding: 1rem;
          border-radius: 1rem;
          background: $light-color;
          box-shadow: 0 0 0 1px rgba($sky-gray-blue, 0.3);

          .price {
            gap: 0.3rem;
            display: flex;
            padding: 1rem;
            margin-bottom: 1rem;
            align-items: flex-start;

            span {
              font-size: 1rem;
              font-weight: 500;
            }

            .amount {
              font-size: 2rem;
              font-weight: 600;
              line-height: 1;
              color: $forest-green;
            }
          }

          h2 {
            font-size: 1.5rem;
            font-weight: 700;
            color: $black-color;
            margin-bottom: 1rem;
          }

          form {
            width: 100%;
            gap: 1rem;
            display: flex;
            padding: 2rem;
            border-radius: 1rem;
            box-shadow: 0 0 0 1px rgba($sky-gray-blue, 0.3);
            background: $white-color;
            flex-direction: column;

            .form-group {
              display: flex;
              flex-direction: column;

              input {
                width: 100%;
                height: 3rem;
                padding: 1rem;
                position: relative;
                font-size: 1rem;
                font-weight: 500;
                color: $black-color;
                border-radius: 0.6rem;
                transition: $transition;
                border: 1px solid transparent;
                box-shadow: 0 0 0 1px rgba($sky-gray-blue, 0.3);

                &:hover {
                  box-shadow: 0 0 0 1px $golden-brown;
                }

                &:focus {
                  border-color: $golden-brown;
                  box-shadow: 0 0 0 0.2rem rgba($sky-gray-blue, 0.1);
                }
              }

              textarea {
                width: 100%;
                height: 8rem;
                padding: 1rem;
                resize: none;
                border-radius: 0.6rem;
                transition: $transition;
                font-family: "DM Sans", sans-serif;
                box-shadow: 0 0 0 1px rgba($sky-gray-blue, 0.3);
              }

              .calendar {
                gap: 1rem;
                display: flex;

                input {
                  flex: 1;
                  font-family: "Inter", sans-serif !important;
                }
              }

              &.labeled {
                gap: 1rem;
                display: flex;
                padding-left: 0.3rem;
                align-items: center;
                flex-direction: row;

                input {
                  width: 1.5rem;
                  height: 1.5rem;
                  cursor: pointer;
                  overflow: hidden;
                  border-radius: 1rem;
                  display: none;
                }

                label {
                  cursor: pointer;

                  &:hover {
                    color: $golden-brown;
                  }
                }

                .custom-check {
                  width: 1.5rem;
                  height: 1.5rem;
                  cursor: pointer;
                  border-radius: 0.5rem;
                  box-shadow: 0 0 0 1px rgba($sky-gray-blue, 0.3);
                }

                label ~ .custom-check {
                  box-shadow: 0 0 0 1px $golden-brown;
                }

                input[type="checkbox"]:checked ~ .custom-check {
                  background: $sand-beige;
                  position: relative;

                  &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 0.35rem;
                    background: $golden-brown;
                    transform: translate(-50%, -50%);
                  }
                }
              }
            }

            .form-btn {
              position: relative;

              button {
                padding: 1rem;
                font-size: 1rem;
                font-weight: 500;
                color: $white-color;
                border-radius: 0.6rem;
                background: $golden-brown;
                transition: $transition;
                font-family: "DM Sans", sans-serif;

                &:hover {
                  cursor: pointer;
                  border-radius: 1rem;
                  background: $forest-green;
                  box-shadow: 0 0 0 0.2rem rgba($sky-gray-blue, 0.3);
                }
              }
            }
          }
        }

        @media (max-width: 1100px) {
          flex-direction: column-reverse;

          .book-form {
            display: none;
          }
        }
      }
    }
  }
}
